<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @problem.pid %>
</p>

<p>
  <strong>Code:</strong>
  <%= @problem.code %>
</p>

<%#= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
